/* Inter */
@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("../fonts/Inter-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("../fonts/Inter-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("../fonts/Inter-SemiBold.otf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("../fonts/Inter-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Lato */
@font-face {
  font-family: "Lato";
  src:
    local("Lato"),
    url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src:
    local("Lato"),
    url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src:
    local("Lato"),
    url("../fonts/Lato-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src:
    local("Lato"),
    url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
