@import 'tailwindcss';
@import './fonts.css';

@theme {
  --font-primary: 'Lato', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --color-background: #f2f3f4;
  --color-background-secondary: #fff;
  --color-background-muted: rgba(255, 255, 255, 0.06);
  --color-background-accent: rgba(255, 255, 255, 0.2);
  --color-foreground: #121113;
  --color-foreground-secondary: #fff;
  --color-muted: #6c757d;
  --color-border: #dee2e6;
  --color-primary: #121113;
  --color-primary-muted: #343a40;
  --color-input: #f9f9f9;

  --color-accent: #4a90e2;
  --color-accent-light: #e3f2fd;
  --color-accent-muted: #357abd;
  --color-accent-dark: #2e6da4;
  --color-danger: #d90429;
  --color-green: #4dd222;

  --color-status-blue: #05bdf0;
  --color-status-turquoise: #1dd3b0;
  --color-status-green: #4dd222;
  --color-status-orange: #ffa62b;
  --color-status-grey: #dee2e6;

  /* Font size and line height */
  --text-xxs: 12px;
  --text-xxs--line-height: 117%;

  --text-xs: 13px;
  --text-xs--line-height: 108%;

  --text-sm: 14px;
  --text-sm--line-height: 114%;

  --text-md: 15px;
  --text-md--line-height: 133%;

  --text-lg: 16px;
  --text-lg--line-height: 125%;

  --text-xl: 20px;
  --text-xl--line-height: 120%;

  /* shadows */
  --shadow-auth: 0 2px 10px 0 rgba(18, 17, 19, 0.1);
  --shadow-task: 0 2px 8px 0 rgba(18, 17, 19, 0.15);
  --shadow-brand: 0 2px 8px 0 rgba(18, 17, 19, 0.05);
  --shadow-brand-hover: 0 2px 8px 0 rgba(18, 17, 19, 0.15);
  --shadow-chat: 0 2px 10px 0 rgba(18, 17, 19, 0.1);
  --shadow-chat-trigger: 0 2px 10px 0 rgba(18, 17, 19, 0.15);

  --color-brand-gradient: linear-gradient(
    180deg,
    rgba(18, 17, 19, 0) 0%,
    #121113 100%
  );

  /* animate */
  /* --animate-slide-up: slideUp 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-down: slideDown 0.15s cubic-bezier(0.16, 1, 0.3, 1); */
  /* @keyframes slideUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
*::-webkit-scrollbar-track {
  background-color: #dee2e6;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 3px;
}

body {
  margin: 0;
  font-size: 15px;
}

html {
  font-family: 'Lato', sans-serif;
  background-color: #f2f3f4;
  color: #121113;
}

button:not(:disabled) {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
